@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

:root {
    --magic: calc((4em + 4vw) / 5);
    --φ: 1.6180339887498948482;

    --ratio: var(--φ);
    --measure: 70ch;

    font-size: var(--magic);
    line-height: var(--ratio);

    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

}

* {
    max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
    max-width: none;
}

body {
    margin: 0;
    @apply bg-color-light-1;
    @apply text-color-dark-5;
    @apply font-serif;
}

.main > * + *, [class$="-body"] > * + * {
    margin-top: var(--s2);
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    font-variation-settings: 'wght' 800;
}

h1, h2 { text-align: center; }

h1 { @apply text-2xl; margin: var(--s3) 0; }
h2 { @apply text-xl; }
h3 { @apply text-lg; }
h4 { @apply text-base; }
h5 { @apply text-sm; }
h6 { @apply text-xs; }

a { @apply text-color-info-5; }

pre {
    overflow: auto;
    @apply rounded;
    @apply bg-color-light-3;
    padding: 0.5em;
    margin: 1rem;
}

code {
    @apply font-mono;
    font-size: calc(1em - 2px);
    padding: .4rem .4rem .1rem .4rem;
    @apply bg-color-light-3;
    border-radius: 2px;
}
pre code {
    padding: unset;
}

/* purgecss end ignore */
